{% macro displayNewsList(category) %}

{% for source in category %}
<div class="card">
    <a href="/news_sources/{{source.id}}">
        <img src="/static/images/news.png" class="card-img-top" alt="news">
        <div class="card-body">
            <h5 class="card-title">{{source.name}}</h5>
            <p class="card-text">{{source.category}}</p>
            <p class="card-text">{{source.description |truncate(100)}}</p>
        </div>
    </a>
</div>
{% endfor %}
{% endmacro %}



{% macro displayArticleList(articles) %}
{% for news_article in articles %}
<div class="card">
    <a href="{{news_article.url}}">
        <img src="{{news_article.urlToImage}}" class="card-img-top" alt="article">
        <div class="card-body">
            <h5 class="card-title">{{news_article.title|truncate(20)}}</h5>
            <p class="card-text">{{article.description|truncate(90)}}</p>
        </div>
    </a>
</div>
{% endfor %}
{% endmacro %}